---
swagger: "2.0"
info:
  description: "SendinBlue provide a RESTFul API that can be used with any languages.\
    \ With this API, you will be able to :\n  - Manage your campaigns and get the\
    \ statistics\n  - Manage your contacts\n  - Send transactional Emails and SMS\n\
    \  - and much more...\n\nYou can download our wrappers at https://github.com/orgs/sendinblue\n\
    \n**Possible responses**\n  | Code | Message |\n  | :-------------: | -------------\
    \ |\n  | 200  | OK. Successful Request  |\n  | 201  | OK. Successful Creation\
    \ |\n  | 202  | OK. Request accepted |\n  | 204  | OK. Successful Update/Deletion\
    \  |\n  | 400  | Error. Bad Request  |\n  | 401  | Error. Authentication Needed\
    \  |\n  | 402  | Error. Not enough credit, plan upgrade needed  |\n  | 403  |\
    \ Error. Permission denied  |\n  | 404  | Error. Object does not exist |\n  |\
    \ 405  | Error. Method not allowed  |\n  | 406  | Error. Not Acceptable  |\n"
  version: "3.0.0"
  title: "SendinBlue API"
  contact:
    name: "Sendinblue Support"
    url: "https://account.sendinblue.com/support"
    email: "contact@sendinblue.com"
  license:
    name: "MIT"
    url: "http://opensource.org/licenses/MIT"
host: "api.sendinblue.com"
basePath: "/v3"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
security:
- api-key: []
paths:
  /account:
    get:
      tags:
      - "Account"
      summary: "Get your account informations, plans and credits details"
      operationId: "getAccount"
      parameters: []
      responses:
        "200":
          description: "account informations"
          examples:
            application/json:
              plan:
              - type: "payAsYouGo"
                credits: 5000
                creditsType: "sendLimit"
              - type: "subscription"
                credits: 39983
                creditsType: "sendLimit"
                startDate: "2017-03-11"
                endDate: "2017-04-11"
              - type: "sms"
                credits: 999.5360000000001
                creditsType: "sendLimit"
              relay:
                enabled: true
                data:
                  userName: "john.smith@example.com"
                  relay: "smtp-relay.domain.com"
                  port: 587
              marketingAutomation:
                key: "kzfr5xxxxxxttuyo1"
                enabled: true
              email: "john.smith@example.com"
              firstName: "John"
              lastName: "Smith"
              companyName: "MyShop"
              address:
                city: "New-York"
                street: "1677B 8th Avenue"
                zipCode: "7665"
                country: "USA"
          schema:
            $ref: "#/definitions/getAccount"
  /reseller/children:
    get:
      tags:
      - "Reseller"
      summary: "Gets the list of all reseller's children accounts"
      operationId: "getResellerChilds"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number of documents for child accounts information per page"
        required: false
        type: "integer"
        default: 10
        maximum: 20
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document in the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
      responses:
        "200":
          description: "list of children"
          examples:
            application/json:
              children:
              - email: "john.smith@example.com"
                firstName: "John"
                lastName: "Smith"
                companyName: "MyCompany"
                credits:
                  emailCredits: 98555
                  smsCredits: 87556
                statistics:
                  previousMonthTotalSent: 7654
                  currentMonthTotalSent: 4566
                  totalSent: 987554
                password: "abC0xxxxxx3jkL"
                ips:
                - "176.2.39.4"
                - "231.43.21.7"
                apiKeys:
                  v2:
                  - name: "N˚2"
                    key: "nOpxxxxxy7z"
                  v3:
                  - name: "N˚3"
                    key: "xkeysib-21881axxxxxcc92e04-mIrexxxx7z"
                id: 187588
              - email: "alex.pain@example.com"
                firstName: "Alex"
                lastName: "Pain"
                companyName: "MyStore"
                credits:
                  emailCredits: 2000
                  smsCredits: 0
                statistics:
                  previousMonthTotalSent: 654
                  currentMonthTotalSent: 300
                  totalSent: 6553
                password: "abC0xxxxx64kL"
                ips:
                - "176.2.39.4"
                - "231.43.21.7"
                apiKeys:
                  v2:
                  - name: "N˚2"
                    key: "nOpxxxxxy7z"
                  v3:
                  - name: "N˚3"
                    key: "xkeysib-21881axxxxxcc92e04-mIrexxxx7z"
                id: 187669
          schema:
            $ref: "#/definitions/getChildrenList"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Reseller"
      summary: "Creates a reseller child"
      operationId: "createResellerChild"
      parameters:
      - in: "body"
        name: "resellerChild"
        description: "reseller child to add"
        required: false
        schema:
          $ref: "#/definitions/createChild"
      responses:
        "201":
          description: "child created"
          schema:
            $ref: "#/definitions/createReseller"
        "400":
          description: "Bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
  /reseller/children/{childAuthKey}:
    get:
      tags:
      - "Reseller"
      summary: "Gets the info about a specific child account"
      operationId: "getChildInfo"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      responses:
        "200":
          description: "Information for the child"
          examples:
            application/json:
              email: "john.smith@example.com"
              firstName: "John"
              lastName: "Smith"
              companyName: "MyCompany"
              credits:
                emailCredits: 98555
                smsCredits: 87556
              statistics:
                previousMonthTotalSent: 7654
                currentMonthTotalSent: 4566
                totalSent: 987554
              password: "abC0xxxxx3jkL"
              ips:
              - "176.2.39.4"
              - "231.43.21.7"
              apiKeys:
                v2:
                - name: "N˚2"
                  key: "nOpxxxxxy7z"
                v3:
                - name: "N˚3"
                  key: "xkeysib-21881axxxxxcc92e04-mIrexxxx7z"
          schema:
            $ref: "#/definitions/getChildInfo"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Reseller"
      summary: "Updates infos of reseller's child based on the childAuthKey supplied"
      operationId: "updateResellerChild"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      - in: "body"
        name: "resellerChild"
        description: "values to update in child profile"
        required: true
        schema:
          $ref: "#/definitions/updateChild"
      responses:
        "204":
          description: "reseller's child updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Reseller"
      summary: "Deletes a single reseller child based on the childAuthKey supplied"
      operationId: "deleteResellerChild"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      responses:
        "204":
          description: "child deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
  /reseller/children/{childAuthKey}/accountStatus:
    put:
      tags:
      - "Reseller"
      summary: "Updates infos of reseller's child account status based on the childAuthKey\
        \ supplied"
      operationId: "updateChildAccountStatus"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      - in: "body"
        name: "updateChildAccountStatus"
        description: "values to update in child account status"
        required: true
        schema:
          $ref: "#/definitions/updateChildAccountStatus"
      responses:
        "204":
          description: "reseller's child account status updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
  /reseller/children/{childAuthKey}/accountCreationStatus:
    get:
      tags:
      - "Reseller"
      summary: "Returns the status of reseller's child account creation, whether it\
        \ is successfully created (exists) or not based on the childAuthKey supplied"
      operationId: "getChildAccountCreationStatus"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      responses:
        "200":
          description: "status of reseller's child account"
          examples:
            application/json:
              childAccountCreated: true
          schema:
            $ref: "#/definitions/getChildAccountCreationStatus"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
  /reseller/children/{childAuthKey}/ips/associate:
    post:
      tags:
      - "Reseller"
      summary: "Associate a dedicated IP to the child"
      operationId: "associateIpToChild"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      - in: "body"
        name: "ip"
        description: "IP to associate"
        required: true
        schema:
          $ref: "#/definitions/manageIp"
      responses:
        "204":
          description: "Dedicated IP is associated to the child"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
  /reseller/children/{childAuthKey}/ips/dissociate:
    post:
      tags:
      - "Reseller"
      summary: "Dissociate a dedicated IP to the child"
      operationId: "dissociateIpFromChild"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      - in: "body"
        name: "ip"
        description: "IP to dissociate"
        required: true
        schema:
          $ref: "#/definitions/manageIp"
      responses:
        "204":
          description: "Dedicated IP is dissociated from the child"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
  /reseller/children/{childAuthKey}/credits/add:
    post:
      tags:
      - "Reseller"
      summary: "Add Email and/or SMS credits to a specific child account"
      operationId: "addCredits"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      - in: "body"
        name: "addCredits"
        description: "Values to post to add credit to a specific child account"
        required: true
        schema:
          $ref: "#/definitions/addCredits"
      responses:
        "200":
          description: "Credits added"
          examples:
            application/json:
              child:
                sms: 500
                email: 2000
              reseller:
                sms: 12900
                email: 2000000
          schema:
            $ref: "#/definitions/remainingCreditModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
  /reseller/children/{childAuthKey}/credits/remove:
    post:
      tags:
      - "Reseller"
      summary: "Remove Email and/or SMS credits from a specific child account"
      operationId: "removeCredits"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      - in: "body"
        name: "removeCredits"
        description: "Values to post to remove email or SMS credits from a specific\
          \ child account"
        required: true
        schema:
          $ref: "#/definitions/removeCredits"
      responses:
        "200":
          description: "Credits removed"
          examples:
            application/json:
              child:
                sms: 500
                email: 2000
              reseller:
                sms: 12900
                email: 2000000
          schema:
            $ref: "#/definitions/remainingCreditModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /reseller/children/{childAuthKey}/domains:
    get:
      tags:
      - "Reseller"
      summary: "Gets all the sender domains of a specific child account"
      operationId: "getChildDomains"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      responses:
        "200":
          description: "Sender domains of the child"
          examples:
            application/json:
            - domain: "mycustomdomain.com"
              active: true
            - domain: "mynewdomain.com"
              active: true
          schema:
            $ref: "#/definitions/getChildDomains"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Reseller"
      summary: "Creates a domain for a child account"
      operationId: "createChildDomain"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      - in: "body"
        name: "addChildDomain"
        description: "Sender domain to add for a specific child account"
        required: true
        schema:
          $ref: "#/definitions/addChildDomain"
      responses:
        "201":
          description: "Domain added"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
  /reseller/children/{childAuthKey}/domains/{domainName}:
    put:
      tags:
      - "Reseller"
      summary: "Updates the sender domain of reseller's child based on the childAuthKey\
        \ and domainName passed"
      operationId: "updateChildDomain"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      - name: "domainName"
        in: "path"
        description: "Pass the existing domain that needs to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "updateChildDomain"
        description: "value to update for sender domain"
        required: true
        schema:
          $ref: "#/definitions/updateChildDomain"
      responses:
        "204":
          description: "reseller's child domain updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Reseller"
      summary: "Deletes the sender domain of the reseller child based on the childAuthKey\
        \ and domainName passed"
      operationId: "deleteChildDomain"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      - name: "domainName"
        in: "path"
        description: "Pass the existing domain that needs to be deleted"
        required: true
        type: "string"
      responses:
        "204":
          description: "child domain deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
  /reseller/children/{childAuthKey}/auth:
    get:
      tags:
      - "Reseller"
      summary: "Get session token to access Sendinblue (SSO)"
      description: "It returns a session [token] which will remain valid for a short\
        \ period of time. A child account will be able to access a white-labeled section\
        \ by using the following url pattern => https:/email.mydomain.com/login/sso?token=[token]"
      operationId: "getSsoToken"
      parameters:
      - name: "childAuthKey"
        in: "path"
        description: "auth key of reseller's child"
        required: true
        type: "string"
      responses:
        "200":
          description: "Session token"
          examples:
            application/json:
              token: "5cadaxxxxxxxxxxxxxxxxxxxx5a179f85a0"
          schema:
            $ref: "#/definitions/getSsoToken"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "403":
          description: "Current account is not a reseller"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Child auth key not found"
          schema:
            $ref: "#/definitions/errorModel"
  /senders:
    get:
      tags:
      - "Senders"
      summary: "Get the list of all your senders"
      operationId: "getSenders"
      parameters:
      - name: "ip"
        in: "query"
        description: "Filter your senders for a specific ip (available for dedicated\
          \ IP usage only)"
        required: false
        type: "string"
      - name: "domain"
        in: "query"
        description: "Filter your senders for a specific domain"
        required: false
        type: "string"
      responses:
        "200":
          description: "list of senders"
          examples:
            application/json:
              senders:
              - id: 1
                name: "Marketing"
                email: "marketing@mycompany.com"
                active: true
                ips:
                - ip: "123.98.689.7"
                  domain: "mycompany.com"
                  weight: 100
              - id: 2
                name: "Newsletter"
                email: "newsletter@mycompany.com"
                active: false
                ips:
                - ip: "123.98.689.7"
                  domain: "mycompany.com"
                  weight: 50
                - ip: "123.98.643.2"
                  domain: "news.mycompany.com"
                  weight: 50
          schema:
            $ref: "#/definitions/getSendersList"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Senders"
      summary: "Create a new sender"
      operationId: "createSender"
      parameters:
      - in: "body"
        name: "sender"
        description: "sender's name"
        required: false
        schema:
          $ref: "#/definitions/createSender"
      responses:
        "201":
          description: "sender created"
          schema:
            $ref: "#/definitions/createSenderModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /senders/{senderId}:
    put:
      tags:
      - "Senders"
      summary: "Update a sender"
      operationId: "updateSender"
      parameters:
      - name: "senderId"
        in: "path"
        description: "Id of the sender"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "sender"
        description: "sender's name"
        required: false
        schema:
          $ref: "#/definitions/updateSender"
      responses:
        "204":
          description: "sender updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Sender ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Senders"
      summary: "Delete a sender"
      operationId: "deleteSender"
      parameters:
      - name: "senderId"
        in: "path"
        description: "Id of the sender"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "204":
          description: "sender deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Sender ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /senders/{senderId}/ips:
    get:
      tags:
      - "Senders"
      summary: "Return all the dedicated IPs for a sender"
      operationId: "getIpsFromSender"
      parameters:
      - name: "senderId"
        in: "path"
        description: "Id of the sender"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "list of dedicated IPs"
          examples:
            application/json:
              ips:
              - id: 3
                ip: "123.65.8.22"
                domain: "mailing.myshop.dom"
                weight: 40
              - id: 5
                ip: "123.43.21.3"
                domain: "newsletter.myshop.dom"
                weight: 60
          schema:
            $ref: "#/definitions/getIpsFromSender"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Sender ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /senders/ips:
    get:
      tags:
      - "Senders"
      summary: "Return all the dedicated IPs for your account"
      operationId: "getIps"
      parameters: []
      responses:
        "200":
          description: "list of dedicated IPs"
          examples:
            application/json:
              ips:
              - id: 3
                ip: "67.145.89.3"
                active: true
                domain: "mailing.myshop.com"
              - id: 5
                ip: "76.76.125.9"
                active: true
                domain: "newsletter.myshop.com"
              - id: 6
                ip: "123.65.8.22"
                active: false
                domain: "notifications.myshop.com"
          schema:
            $ref: "#/definitions/getIps"
  /processes:
    get:
      tags:
      - "Process"
      summary: "Return all the processes for your account"
      operationId: "getProcesses"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number limitation for the result returned"
        required: false
        type: "integer"
        default: 10
        maximum: 50
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Beginning point in the list to retrieve from."
        required: false
        type: "integer"
        default: 0
        format: "int64"
      responses:
        "200":
          description: "processes informations"
          examples:
            application/json:
              processes:
              - id: 40
                status: "completed"
                name: "TRANS-CALC"
              - id: 43
                status: "queued"
                name: "TRANS-GLOBAL-CALC"
              - id: 194
                status: "completed"
                name: "SEARCH_EXPORT_USERS"
                export_url: "<a href=\"https://export-url.com/upload/file-name.csv\"\
                  \ target=\"_blank\">filename.csv</a>"
              count: 3
          schema:
            $ref: "#/definitions/getProcesses"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /processes/{processId}:
    get:
      tags:
      - "Process"
      summary: "Return the informations for a process"
      operationId: "getProcess"
      parameters:
      - name: "processId"
        in: "path"
        description: "Id of the process"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "process informations"
          examples:
            application/json:
              id: 194
              status: "completed"
              name: "SEARCH_EXPORT_USERS"
              export_url: "<a href=\"https://export-url.com/upload/file-name.csv\"\
                \ target=\"_blank\">filename.csv</a>"
          schema:
            $ref: "#/definitions/getProcess"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Process ID not found"
          examples:
            application/json:
              code: "invalid_parameter"
              message: "processId is invalid"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns:
    get:
      tags:
      - "Email Campaigns"
      summary: "Return all your created campaigns"
      operationId: "getEmailCampaigns"
      parameters:
      - name: "type"
        in: "query"
        description: "Filter on the type of the campaigns"
        required: false
        type: "string"
        enum:
        - "classic"
        - "trigger"
      - name: "status"
        in: "query"
        description: "Filter on the status of the campaign"
        required: false
        type: "string"
        enum:
        - "suspended"
        - "archive"
        - "sent"
        - "queued"
        - "draft"
        - "inProcess"
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting (urlencoded) UTC date-time\
          \ (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent email campaigns. Prefer\
          \ to pass your timezone in date-time format for accurate result ( only available\
          \ if either 'status' not passed and if passed is set to 'sent' )"
        required: false
        type: "string"
        format: "date-time"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending (urlencoded) UTC date-time\
          \ (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent email campaigns. Prefer\
          \ to pass your timezone in date-time format for accurate result ( only available\
          \ if either 'status' not passed and if passed is set to 'sent' )"
        required: false
        type: "string"
        format: "date-time"
      - name: "limit"
        in: "query"
        description: "Number of documents per page"
        required: false
        type: "integer"
        default: 500
        maximum: 1000
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document in the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
      responses:
        "200":
          description: "Email campaigns informations"
          examples:
            applications/json:
              campaigns:
              - id: 12
                name: "EN - Sales Summer 2017"
                subject: "20% OFF for 2017 Summer Sales"
                type: "classic"
                status: "sent"
                scheduledAt: "2017-06-01T12:30:00Z"
                testSent: true
                header: "[DEFAULT_HEADER]"
                footer: "[DEFAULT_FOOTER]"
                sender:
                  email: "marketing@mycompany.com"
                  name: "Marketing"
                  id: 26
                replyTo: "replyto@domain.com"
                toField: "{FNAME} {LNAME}"
                htmlContent: "This is my HTML Content"
                shareLink: "http://example.com/fhsgccc.html?t=9865448900"
                tag: "Newsletter"
                createdAt: "2017-05-01T12:30:00Z"
                modifiedAt: "2017-05-01T12:30:00Z"
                inlineImageActivation: true
                mirrorActive: true
                recurring: false
                recipients:
                  lists:
                  - 5
                  exclusionLists:
                  - 13
                statistics:
                  globalStats:
                    uniqueClicks: 2300
                    clickers: 2665
                    complaints: 1
                    delivered: 19765
                    sent: 19887
                    softBounces: 100
                    hardBounces: 87
                    uniqueViews: 7779
                    unsubscriptions: 2
                    viewed: 8999
                  campaignStats:
                  - listId: 5
                    uniqueClicks: 2300
                    clickers: 2665
                    complaints: 1
                    delivered: 19765
                    sent: 19887
                    softBounces: 100
                    hardBounces: 87
                    uniqueViews: 7779
                    unsubscriptions: 2
                    viewed: 8999
                    deferred: 30
                  mirrorClick: 120
                  remaining: 1000
                  linksStats:
                    http://myUrl1.domain.com: 80
                  statsByDomain:
                    yahoo:
                      uniqueClicks: 2300
                      clickers: 2665
                      complaints: 1
                      delivered: 19765
                      sent: 19887
                      softBounces: 100
                      hardBounces: 87
                      uniqueViews: 7779
                      unsubscriptions: 2
                      viewed: 8999
                      deferred: 30
                    gmail:
                      uniqueClicks: 2300
                      clickers: 2665
                      complaints: 1
                      delivered: 19765
                      sent: 19887
                      softBounces: 100
                      hardBounces: 87
                      uniqueViews: 7779
                      unsubscriptions: 2
                      viewed: 8999
                      deferred: 30
              - id: 22
                name: "Weekly - 1"
                subject: "Week 1 - Newsletter"
                type: "Classic"
                status: "draft"
                scheduledAt: ""
                testSent: false
                header: "[DEFAULT_HEADER]"
                footer: "[DEFAULT_FOOTER]"
                sender:
                  email: "newsletter@mycompany.com"
                  name: "Newsletter"
                  id: 26
                replyTo: "replyto@domain.com"
                toField: "{FNAME} {LNAME}"
                htmlContent: "This is my HTML Content"
                shareLink: "http://example.com/fhsgccc.html?t=9865448900"
                tag: "Newsletter"
                createdAt: "2017-05-01T12:30:00Z"
                modifiedAt: "2017-05-01T12:30:00Z"
                inlineImageActivation: true
                mirrorActive: true
                recurring: false
                recipients:
                  lists:
                  - 10
                  exclusionLists:
                  - 45
                statistics:
                  globalStats:
                    uniqueClicks: 2300
                    clickers: 2665
                    complaints: 1
                    delivered: 19765
                    sent: 19887
                    softBounces: 100
                    hardBounces: 87
                    uniqueViews: 7779
                    unsubscriptions: 2
                    viewed: 8999
                  campaignStats:
                  - listId: 10
                    uniqueClicks: 2300
                    clickers: 2665
                    complaints: 1
                    delivered: 19765
                    sent: 19887
                    softBounces: 100
                    hardBounces: 87
                    uniqueViews: 7779
                    unsubscriptions: 2
                    viewed: 8999
                    deferred: 30
                  mirrorClick: 120
                  remaining: 1000
                  linksStats:
                    http://myUrl1.domain.com:
                      nbClick: 80
                    http://myUrl2.domain.com:
                      nbClick: 80
                    http://myUrl3.domain.com:
                      nbClick: 80
                  statsByDomain:
                    gmail:
                      uniqueClicks: 2300
                      clickers: 2665
                      complaints: 1
                      delivered: 19765
                      sent: 19887
                      softBounces: 100
                      hardBounces: 87
                      uniqueViews: 7779
                      unsubscriptions: 2
                      viewed: 8999
                      deferred: 30
                    aol:
                      uniqueClicks: 2300
                      clickers: 2665
                      complaints: 1
                      delivered: 19765
                      sent: 19887
                      softBounces: 100
                      hardBounces: 87
                      uniqueViews: 7779
                      unsubscriptions: 2
                      viewed: 8999
                      deferred: 30
              count: 2
          schema:
            $ref: "#/definitions/getEmailCampaigns"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Email Campaigns"
      summary: "Create an email campaign"
      operationId: "createEmailCampaign"
      parameters:
      - in: "body"
        name: "emailCampaigns"
        description: "Values to create a campaign"
        required: true
        schema:
          $ref: "#/definitions/createEmailCampaign"
      responses:
        "201":
          description: "Email campaign created"
          schema:
            $ref: "#/definitions/createModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}:
    get:
      tags:
      - "Email Campaigns"
      summary: "Get campaign informations"
      operationId: "getEmailCampaign"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Email campaign informations"
          examples:
            application/json:
              id: 22
              name: "Weekly - 1"
              subject: "Week 1 - Newsletter"
              type: "classic"
              status: "draft"
              scheduledAt: "2017-09-22T12:30:00Z"
              testSent: false
              header: "[DEFAULT_HEADER]"
              footer: "[DEFAULT_FOOTER]"
              sender:
                email: "newsletter@mycompany.com"
                name: "Newsletter"
                id: 26
              replyTo: "replyto@domain.com"
              toField: "{FNAME} {LNAME}"
              htmlContent: "This is my HTML Content"
              shareLink: "http://dhh.sendinblue.com/fhsgccc.html?t=9865448900"
              tag: "Newsletter"
              createdAt: "2017-05-01T12:30:00Z"
              modifiedAt: "2017-05-01T12:30:00Z"
              inlineImageActivation: true
              mirrorActive: true
              recurring: false
              recipients:
                lists:
                - 22
                exclusionLists:
                - 45
              statistics:
                globalStats:
                  uniqueClicks: 2300
                  clickers: 2665
                  complaints: 1
                  delivered: 19765
                  sent: 19887
                  softBounces: 100
                  hardBounces: 87
                  uniqueViews: 7779
                  unsubscriptions: 2
                  viewed: 8999
                campaignStats:
                - listId: 22
                  uniqueClicks: 2300
                  clickers: 2665
                  complaints: 1
                  delivered: 19765
                  sent: 19887
                  softBounces: 100
                  hardBounces: 87
                  uniqueViews: 7779
                  unsubscriptions: 2
                  viewed: 8999
                  deferred: 30
                mirrorClick: 120
                remaining: 1000
                linksStats:
                  http://myUrl1.domain.com:
                    nbClick: 80
                  http://myUrl2.domain.com:
                    nbClick: 80
                  http://myUrl3.domain.com:
                    nbClick: 80
                statsByDomain:
                  gmail:
                    uniqueClicks: 2300
                    clickers: 2665
                    complaints: 1
                    delivered: 19765
                    sent: 19887
                    softBounces: 100
                    hardBounces: 87
                    uniqueViews: 7779
                    unsubscriptions: 2
                    viewed: 8999
                    deferred: 30
                statsByDevice:
                  desktop:
                    mac:
                      clickers: 1
                      uniqueClicks: 0
                      viewed: 2
                      uniqueViews: 1
                  mobile:
                    androidMobile:
                      clickers: 1
                      uniqueClicks: 0
                      viewed: 1
                      uniqueViews: 0
                    iPhone:
                      clickers: 1
                      uniqueClicks: 0
                      viewed: 2
                      uniqueViews: 0
                statsByBrowser:
                  thunderbird:
                    clickers: 1
                    uniqueClicks: 0
                    viewed: 1
                    uniqueViews: 0
                  safari:
                    clickers: 1
                    uniqueClicks: 0
                    viewed: 1
                    uniqueViews: 0
                  internetExplorer:
                    clickers: 0
                    uniqueClicks: 0
                    viewed: 1
                    uniqueViews: 0
          schema:
            $ref: "#/definitions/getEmailCampaign"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Email Campaigns"
      summary: "Update a campaign"
      operationId: "updateEmailCampaign"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "emailCampaign"
        description: "Values to update a campaign"
        required: true
        schema:
          $ref: "#/definitions/updateEmailCampaign"
      responses:
        "204":
          description: "Email Campaign has been updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Email Campaigns"
      summary: "Delete an email campaign"
      operationId: "deleteEmailCampaign"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "id of the campaign"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "204":
          description: "Email campaign has been deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/sendNow:
    post:
      tags:
      - "Email Campaigns"
      summary: "Send an email campaign immediately, based on campaignId"
      operationId: "sendEmailCampaignNow"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "204":
          description: "Email campaign has been scheduled"
        "400":
          description: "Campaign could not be sent"
          schema:
            $ref: "#/definitions/errorModel"
        "402":
          description: "You don't have enough credit to send your campaign. Please\
            \ update your plan"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/sendTest:
    post:
      tags:
      - "Email Campaigns"
      summary: "Send an email campaign to your test list"
      operationId: "sendTestEmail"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "emailTo"
        required: true
        schema:
          $ref: "#/definitions/sendTestEmail"
      responses:
        "204":
          description: "Test email has been sent successfully to all recipients"
        "400":
          description: "Test email could not be sent to the following email addresses"
          schema:
            $ref: "#/definitions/postSendFailed"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/exportRecipients:
    post:
      tags:
      - "Email Campaigns"
      summary: "Export the recipients of a campaign"
      operationId: "emailExportRecipients"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "recipientExport"
        description: "Values to send for a recipient export request"
        required: false
        schema:
          $ref: "#/definitions/emailExportRecipients"
      responses:
        "202":
          description: "Recipient export request has been accepted"
          schema:
            $ref: "#/definitions/createdProcessId"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/sendReport:
    post:
      tags:
      - "Email Campaigns"
      summary: "Send the report of a campaigns"
      description: "A PDF will be sent to the specified email addresses"
      operationId: "sendReport"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "sendReport"
        description: "Values for send a report"
        required: true
        schema:
          $ref: "#/definitions/sendReport"
      responses:
        "204":
          description: "Report has been successfully sent to the defined recipients"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/status:
    put:
      tags:
      - "Email Campaigns"
      summary: "Update a campaign status"
      operationId: "updateCampaignStatus"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "status"
        description: "Status of the campaign"
        required: true
        schema:
          $ref: "#/definitions/updateCampaignStatus"
      responses:
        "204":
          description: "The campaign status has been updated successfully"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/sharedUrl:
    get:
      tags:
      - "Email Campaigns"
      summary: "Get a shared template url"
      description: "Get a unique URL to share & import an email template from one\
        \ Sendinblue account to another."
      operationId: "getSharedTemplateUrl"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign or template"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Shared template URL information"
          examples:
            application/json:
              sharedUrl: "https://my.sendinblue.com/pt2YU7R5W_guXlowgumy_VX4pFsKu._zd0Gjj96x1_GMmzc1Qps5ZIpj6nx-"
          schema:
            $ref: "#/definitions/getSharedTemplateUrl"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign/Template ID not found"
          schema:
            $ref: "#/definitions/errorModel"
        "405":
          description: "Only email campaigns or templates are allowed"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/blockedContacts:
    get:
      tags:
      - "SMTP"
      summary: "Get the list of blocked or unsubscribed transactional contacts"
      operationId: "getTransacBlockedContacts"
      parameters:
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date (YYYY-MM-DD) from\
          \ which you want to fetch the blocked or unsubscribed contacts"
        required: false
        type: "string"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date (YYYY-MM-DD) till\
          \ which you want to fetch the blocked or unsubscribed contacts"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Number of documents returned per page"
        required: false
        type: "integer"
        default: 50
        maximum: 100
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document on the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
      - name: "senders"
        in: "query"
        description: "Comma separated list of emails of the senders from which contacts\
          \ are blocked or unsubscribed"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      responses:
        "200":
          description: "List of blocked or unsubscribed transactional contacts"
          examples:
            application/json:
              contacts:
              - email: "abc@xyz.com"
                senderEmail: "ez312@gmal.com"
                reason:
                  message: "Admin blocked"
                  code: "adminBlocked"
                blockedAt: "2017-05-01T12:30:00Z"
              count: 1
          schema:
            $ref: "#/definitions/getTransacBlockedContacts"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/blockedContacts/{email}:
    delete:
      tags:
      - "SMTP"
      summary: "Unblock or resubscribe a transactional contact"
      parameters:
      - name: "email"
        in: "path"
        description: "contact email (urlencoded) to unblock."
        required: true
        type: "string"
      responses:
        "204":
          description: "Contact unblocked"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Contact email not found"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/statistics/reports:
    get:
      tags:
      - "SMTP"
      summary: "Get your transactional email activity aggregated per day"
      operationId: "getSmtpReport"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number of documents returned per page"
        required: false
        type: "integer"
        default: 10
        maximum: 30
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document on the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date of the report (YYYY-MM-DD)"
        required: false
        type: "string"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date of the report (YYYY-MM-DD)"
        required: false
        type: "string"
      - name: "days"
        in: "query"
        description: "Number of days in the past including today (positive integer).\
          \ Not compatible with 'startDate' and 'endDate'"
        required: false
        type: "integer"
      - name: "tag"
        in: "query"
        description: "Tag of the emails"
        required: false
        type: "string"
      responses:
        "200":
          description: "Aggregated report informations"
          examples:
            application/json:
              reports:
              - date: "2017-04-30"
                requests: 10756
                delivered: 10103
                hardBounces: 21
                softBounces: 137
                clicks: 1026
                uniqueClicks: 720
                opens: 5091
                uniqueOpens: 2318
                spamReports: 0
                blocked: 519
                invalid: 1
                unsubscribed: 0
              - date: "2017-05-01"
                requests: 18812
                delivered: 17499
                hardBounces: 34
                softBounces: 254
                clicks: 1514
                uniqueClicks: 1090
                opens: 10089
                uniqueOpens: 4393
                spamReports: 0
                blocked: 920
                invalid: 2
                unsubscribed: 3
          schema:
            $ref: "#/definitions/getReports"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/statistics/aggregatedReport:
    get:
      tags:
      - "SMTP"
      summary: "Get your transactional email activity aggregated over a period of\
        \ time"
      operationId: "getAggregatedSmtpReport"
      parameters:
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date of the report (YYYY-MM-DD).\
          \ Must be lower than equal to endDate"
        required: false
        type: "string"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date of the report (YYYY-MM-DD).\
          \ Must be greater than equal to startDate"
        required: false
        type: "string"
      - name: "days"
        in: "query"
        description: "Number of days in the past including today (positive integer).\
          \ Not compatible with 'startDate' and 'endDate'"
        required: false
        type: "integer"
      - name: "tag"
        in: "query"
        description: "Tag of the emails"
        required: false
        type: "string"
      responses:
        "200":
          description: "Aggregated report informations"
          examples:
            application/json:
              range: "2016-09-08|2017-04-28"
              requests: 19887
              delivered: 18996
              hardBounces: 234
              softBounces: 1533
              clicks: 9987
              uniqueClicks: 8766
              opens: 17654
              uniqueOpens: 13688
              spamReports: 1
              blocked: 2
              invalid: 0
              unsubscribed: 2
          schema:
            $ref: "#/definitions/getAggregatedReport"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/statistics/events:
    get:
      tags:
      - "SMTP"
      summary: "Get all your transactional email activity (unaggregated events)"
      operationId: "getEmailEventReport"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number limitation for the result returned"
        required: false
        type: "integer"
        default: 50
        maximum: 100
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Beginning point in the list to retrieve from."
        required: false
        type: "integer"
        default: 0
        format: "int64"
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date of the report (YYYY-MM-DD).\
          \ Must be lower than equal to endDate"
        required: false
        type: "string"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date of the report (YYYY-MM-DD).\
          \ Must be greater than equal to startDate"
        required: false
        type: "string"
      - name: "days"
        in: "query"
        description: "Number of days in the past including today (positive integer).\
          \ Not compatible with 'startDate' and 'endDate'"
        required: false
        type: "integer"
      - name: "email"
        in: "query"
        description: "Filter the report for a specific email addresses"
        required: false
        type: "string"
        format: "email"
      - name: "event"
        in: "query"
        description: "Filter the report for a specific event type"
        required: false
        type: "string"
        enum:
        - "bounces"
        - "hardBounces"
        - "softBounces"
        - "delivered"
        - "spam"
        - "requests"
        - "opened"
        - "clicks"
        - "invalid"
        - "deferred"
        - "blocked"
        - "unsubscribed"
      - name: "tags"
        in: "query"
        description: "Filter the report for tags (serialized and urlencoded array)"
        required: false
        type: "string"
      - name: "messageId"
        in: "query"
        description: "Filter on a specific message id"
        required: false
        type: "string"
      - name: "templateId"
        in: "query"
        description: "Filter on a specific template id"
        required: false
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Email events report informations"
          examples:
            application/json:
              events:
              - email: "john.smith@example.com"
                date: "2017-03-12T12:30:00Z"
                messageId: "<201798300811.5787683@example.domain.com>"
                event: "deferred"
                reason: "Error connection timeout"
                tag: "OrderConfirmation"
                from: "john@example.com"
              - email: "john.smith@example.com"
                date: "2017-03-13T16:30:00Z"
                messageId: "<201798300811.5787683@example.domain.com>"
                event: "delivered"
                tag: "OrderConfirmation"
                from: "john@example.com"
          schema:
            $ref: "#/definitions/getEmailEventReport"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/templates:
    get:
      tags:
      - "SMTP"
      summary: "Get the list of transactional email templates"
      operationId: "getSmtpTemplates"
      parameters:
      - name: "templateStatus"
        in: "query"
        description: "Filter on the status of the template. Active = true, inactive\
          \ = false"
        required: false
        type: "boolean"
      - name: "limit"
        in: "query"
        description: "Number of documents returned per page"
        required: false
        type: "integer"
        default: 50
        maximum: 1000
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document in the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
      responses:
        "200":
          description: "transactional email templates informations"
          examples:
            application/json:
              count: 2
              templates:
              - id: 5
                name: "ChristomasTimeTemplate"
                subject: "Merry Christmas"
                isActive: false
                testSent: false
                sender:
                  name: "John"
                  email: "john.smith@example.com"
                  id: 23
                replyTo: "replyto@domain.com"
                toField: ""
                tag: "Festival"
                htmlContent: "HTML CONTENT 1"
                createdAt: "2016-02-24T14:44:24Z"
                modifiedAt: "2016-02-24T15:37:11Z"
              - id: 12
                name: "SummerSales2017Template"
                subject: "Enjoy our summer Sales !"
                isActive: true
                testSent: false
                sender:
                  name: "John"
                  email: "john.smith@example.com"
                  id: 23
                replyTo: "replyto@domain.com"
                toField: ""
                tag: "Summer"
                htmlContent: "HTML CONTENT 2"
                createdAt: "2016-02-25T11:53:26Z"
                modifiedAt: "2016-02-25T11:53:26Z"
          schema:
            $ref: "#/definitions/getSmtpTemplates"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "SMTP"
      summary: "Create a transactional email template"
      operationId: "createSmtpTemplate"
      parameters:
      - in: "body"
        name: "smtpTemplate"
        description: "values to update in transactional email template"
        required: true
        schema:
          $ref: "#/definitions/createSmtpTemplate"
      responses:
        "201":
          description: "transactional email template created"
          schema:
            $ref: "#/definitions/createModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/templates/{templateId}:
    get:
      tags:
      - "SMTP"
      summary: "Returns the template informations"
      operationId: "getSmtpTemplate"
      parameters:
      - name: "templateId"
        in: "path"
        description: "id of the template"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Email template informations"
          examples:
            application/json:
              id: 33
              name: "OrderConfirmation"
              subject: "Order Confirmation : Thanks for your Purchase !"
              isActive: true
              testSent: false
              sender:
                name: "John"
                email: "john.smith@example.com"
                id: 26
              replyTo: "replyto@domain.com"
              toField: ""
              tag: ""
              htmlContent: "HTML CONTENT 4"
              createdAt: "2016-02-25T11:53:26Z"
              modifiedAt: "2016-02-25T11:53:26Z"
          schema:
            $ref: "#/definitions/getSmtpTemplateOverview"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Template ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "SMTP"
      summary: "Updates a transactional email templates"
      operationId: "updateSmtpTemplate"
      parameters:
      - name: "templateId"
        in: "path"
        description: "id of the template"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "smtpTemplate"
        description: "values to update in transactional email template"
        required: true
        schema:
          $ref: "#/definitions/updateSmtpTemplate"
      responses:
        "204":
          description: "transactional email template updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Template ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "SMTP"
      summary: "Delete an inactive transactional email template"
      operationId: "deleteSmtpTemplate"
      parameters:
      - name: "templateId"
        in: "path"
        description: "id of the template"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "204":
          description: "Inactive transactional email template has been deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Template ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/templates/{templateId}/sendTest:
    post:
      tags:
      - "SMTP"
      summary: "Send a template to your test list"
      operationId: "sendTestTemplate"
      parameters:
      - name: "templateId"
        in: "path"
        description: "Id of the template"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "sendTestEmail"
        required: true
        schema:
          $ref: "#/definitions/sendTestEmail"
      responses:
        "204":
          description: "Test email has been sent successfully to all recipients"
        "400":
          description: "Test email could not be sent to the following email addresses"
          schema:
            $ref: "#/definitions/postSendFailed"
        "404":
          description: "Template ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/templates/{templateId}/send:
    post:
      tags:
      - "SMTP"
      summary: "Send a template"
      description: "This endpoint is deprecated. Prefer v3/smtp/email instead."
      operationId: "sendTemplate"
      parameters:
      - name: "templateId"
        in: "path"
        description: "Id of the template"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "sendEmail"
        required: true
        schema:
          $ref: "#/definitions/sendEmail"
      responses:
        "201":
          description: "Email has been sent successfully to all recipients"
          schema:
            $ref: "#/definitions/sendTemplateEmail"
        "400":
          description: "Email could not be sent to the following email addresses"
          schema:
            $ref: "#/definitions/postSendFailed"
        "404":
          description: "Template ID not found"
          schema:
            $ref: "#/definitions/errorModel"
      deprecated: true
  /smtp/email:
    post:
      tags:
      - "SMTP"
      summary: "Send a transactional email"
      operationId: "sendTransacEmail"
      parameters:
      - in: "body"
        name: "sendSmtpEmail"
        description: "Values to send a transactional email"
        required: true
        schema:
          $ref: "#/definitions/sendSmtpEmail"
      responses:
        "201":
          description: "transactional email sent"
          schema:
            $ref: "#/definitions/createSmtpEmail"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/emails:
    get:
      tags:
      - "SMTP"
      summary: "Get the list of transactional emails on the basis of allowed filters"
      description: "This endpoint will show the list of emails for past 30 days by\
        \ default. To retrieve emails before that time, please pass startDate and\
        \ endDate in query filters."
      operationId: "getTransacEmailsList"
      parameters:
      - name: "email"
        in: "query"
        description: "Mandatory if templateId and messageId are not passed in query\
          \ filters. Email address to which transactional email has been sent."
        required: false
        type: "string"
      - name: "templateId"
        in: "query"
        description: "Mandatory if email and messageId are not passed in query filters.\
          \ Id of the template that was used to compose transactional email."
        required: false
        type: "integer"
        format: "int64"
      - name: "messageId"
        in: "query"
        description: "Mandatory if templateId and email are not passed in query filters.\
          \ Message ID of the transactional email sent."
        required: false
        type: "string"
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date (YYYY-MM-DD) from\
          \ which you want to fetch the list. Maximum time period that can be selected\
          \ is one month."
        required: false
        type: "string"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date (YYYY-MM-DD) till\
          \ which you want to fetch the list. Maximum time period that can be selected\
          \ is one month."
        required: false
        type: "string"
        format: "date"
      responses:
        "200":
          description: "List of transactional emails"
          examples:
            application/json:
              transactionalEmails:
              - email: "abc@xyz.com"
                subject: "summer camp"
                templateId: 15
                messageId: "<201798300811.5787683@relay.domain.com>"
                uuid: "5a78c-209ok98262910-std2341"
                date: "2019-05-25T11:53:26Z"
              - email: "test@test.com"
                subject: "details verification"
                templateId: 15
                messageId: "<201798300811.5700093@relay.domain.com>"
                uuid: "5a78c-209ok98262910-s99a341"
                date: "2019-05-25T07:28:11Z"
          schema:
            $ref: "#/definitions/getTransacEmailsList"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/emails/{uuid}:
    get:
      tags:
      - "SMTP"
      summary: "Get the personalized content of a sent transactional email"
      operationId: "getTransacEmailContent"
      parameters:
      - name: "uuid"
        in: "path"
        description: "Unique id of the transactional email that has been sent to a\
          \ particular contact"
        required: true
        type: "string"
      responses:
        "200":
          description: "Transactional email content"
          examples:
            application/json:
              email: "abc@example.com"
              subject: "Summer Camps"
              templateId: 12
              date: "2016-02-25T11:53:26Z"
              events:
              - name: "sent"
                time: "2016-02-25T11:53:26Z"
              - name: "delivered"
                time: "2016-02-25T11:55:26Z"
              - name: "opened"
                time: "2016-02-26T09:53:26Z"
              body: "<!DOCTYPE html> <html> <body> <h1>Greetings from the team</h1>\
                \ <p>This is the actual html content sent</p> </body> </html>"
          schema:
            $ref: "#/definitions/getTransacEmailContent"
  /smtp/deleteHardbounces:
    post:
      tags:
      - "SMTP"
      summary: "Delete hardbounces"
      description: "Delete hardbounces. To use carefully (e.g. in case of temporary\
        \ ISP failures)"
      operationId: "deleteHardbounces"
      parameters:
      - in: "body"
        name: "deleteHardbounces"
        description: "values to delete hardbounces"
        required: false
        schema:
          $ref: "#/definitions/deleteHardbounces"
      responses:
        "204":
          description: "Hardbounces deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /webhooks:
    get:
      tags:
      - "Webhooks"
      summary: "Get all webhooks"
      operationId: "getWebhooks"
      parameters:
      - name: "type"
        in: "query"
        description: "Filter on webhook type"
        required: false
        type: "string"
        default: "transactional"
        enum:
        - "marketing"
        - "transactional"
      responses:
        "200":
          description: "Webhooks informations"
          examples:
            application/json:
              webhooks:
              - url: "https://example.domain.com/webhook/events/kzfxxxxxxxx0uyo1"
                id: 9864
                description: "Webhook triggered on campaign openings"
                events:
                - "opened"
                type: "transac"
                createdAt: "2016-07-18T12:30:09Z"
                modifiedAt: "2016-07-18T16:00:50Z"
              - url: "http://exmaple.domain.com/15kxxxxxn1"
                id: 22770
                description: "Webhook triggered on campaign hard bounces"
                events:
                - "hardBounces"
                type: "marketing"
                createdAt: "2017-02-20T14:30:00Z"
                modifiedAt: "2017-02-20T19:00:00Z"
          schema:
            $ref: "#/definitions/getWebhooks"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Webhooks"
      summary: "Create a webhook"
      operationId: "createWebhook"
      parameters:
      - in: "body"
        name: "createWebhook"
        description: "Values to create a webhook"
        required: true
        schema:
          $ref: "#/definitions/createWebhook"
      responses:
        "201":
          description: "Webhook created"
          schema:
            $ref: "#/definitions/createModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /webhooks/{webhookId}:
    get:
      tags:
      - "Webhooks"
      summary: "Get a webhook details"
      operationId: "getWebhook"
      parameters:
      - name: "webhookId"
        in: "path"
        description: "Id of the webhook"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Webhook informations"
          examples:
            application/json:
              url: "http://example.domain.com/1brxxxxxx5p1"
              id: 7287
              description: "Webhook triggered on campaign openings and addition of\
                \ lists"
              events:
              - "listAdditions"
              - "opened"
              type: "marketing"
              createdAt: "2016-06-07T09:10:10Z"
              modifiedAt: "2016-06-08T11:30:00Z"
          schema:
            $ref: "#/definitions/getWebhook"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Webhook ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Webhooks"
      summary: "Update a webhook"
      operationId: "updateWebhook"
      parameters:
      - name: "webhookId"
        in: "path"
        description: "Id of the webhook"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "updateWebhook"
        description: "Values to update a webhook"
        required: true
        schema:
          $ref: "#/definitions/updateWebhook"
      responses:
        "204":
          description: "Webhook updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Webhook ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Webhooks"
      summary: "Delete a webhook"
      operationId: "deleteWebhook"
      parameters:
      - name: "webhookId"
        in: "path"
        description: "Id of the webhook"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "204":
          description: "Webhook deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Webhook ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts:
    get:
      tags:
      - "Contacts"
      summary: "Get all the contacts"
      operationId: "getContacts"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number of documents per page"
        required: false
        type: "integer"
        default: 50
        maximum: 1000
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document of the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
      - name: "modifiedSince"
        in: "query"
        description: "Filter (urlencoded) the contacts modified after a given UTC\
          \ date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in\
          \ date-time format for accurate result."
        required: false
        type: "string"
        format: "date-time"
      responses:
        "200":
          description: "All contacts listed"
          examples:
            application/json:
              contacts:
              - email: "contact1@example.com"
                id: 247
                emailBlacklisted: true
                smsBlacklisted: true
                createdAt: "2017-05-01T17:05:03Z"
                modifiedAt: "2017-05-01T17:05:03Z"
                listIds:
                - 43
                - 58
                attributes:
                  SMS: "33058407250"
                  IDENTIFICATION: "1-3RHQ-259"
                  CIV: "MS"
                  LAST_NAME: "Brennon"
                  FIRST_NAME: "Meg"
                  DOB: "1986-05-02"
                  ADDRESS: "1 5th avenue"
                  ZIP_CODE: "44300"
                  CITY: "New-York"
                  ACTION_CODE: "17HH98CH"
              - email: "33058407248@mailin-sms.com"
                id: 245
                emailBlacklisted: true
                smsBlacklisted: false
                createdAt: "2017-05-01T17:05:03Z"
                modifiedAt: "2017-05-01T17:05:03Z"
                listIds:
                - 43
                - 61
                - 58
                attributes:
                  SMS: "33058407248"
                  IDENTIFICATION: "1-78JS-432"
                  CIV: "MS"
                  LAST_NAME: "Press"
                  FIRST_NAME: "Sophia"
                  DOB: "1980-09-11"
                  ADDRESS: "5 Flower Street"
                  ZIP_CODE: "44119"
                  CITY: "Seattle"
                  ACTION_CODE: "17HU765"
              count: 3
          schema:
            $ref: "#/definitions/getContacts"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Contacts"
      summary: "Create a contact"
      operationId: "createContact"
      parameters:
      - in: "body"
        name: "createContact"
        description: "Values to create a contact"
        required: true
        schema:
          $ref: "#/definitions/createContact"
      responses:
        "201":
          description: "Contact created"
          schema:
            $ref: "#/definitions/createUpdateContactModel"
        "204":
          description: "Contact updated"
          schema:
            $ref: "#/definitions/createUpdateContactModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/{email}:
    get:
      tags:
      - "Contacts"
      summary: "Retrieves contact informations"
      operationId: "getContactInfo"
      parameters:
      - name: "email"
        in: "path"
        description: "Email (urlencoded) of the contact OR its SMS attribute value"
        required: true
        type: "string"
      responses:
        "200":
          description: "Contact informations"
          examples:
            application/json:
              email: "peggy.rain@example.com"
              id: 42
              emailBlacklisted: false
              smsBlacklisted: false
              createdAt: "2017-05-02T16:40:31Z"
              modifiedAt: "2017-05-02T16:40:31Z"
              attributes:
                FIRST_NAME: "Peggy"
                LAST_NAME: "Rain"
                SMS: "3087433387669"
                CIV: "1"
                DOB: "1986-04-13"
                ADDRESS: "987 5th avenue"
                ZIP_CODE: "87544"
                CITY: "New-York"
                AREA: "NY"
              listIds:
              - 40
              statistics:
                messagesSent:
                - campaignId: 21
                  eventTime: "2016-05-03T20:15:13Z"
                - campaignId: 42
                  eventTime: "2016-10-17T10:30:01Z"
                opened:
                - campaignId: 21
                  count: 2
                  eventTime: "2016-05-03T21:24:56Z"
                  ip: "66.249.93.118"
                - campaignId: 68
                  count: 1
                  eventTime: "2017-01-30T13:56:40Z"
                  ip: "66.249.93.217"
                clicked:
                - campaignId: 21
                  links:
                  - count: 2
                    eventTime: "2016-05-03T21:25:01Z"
                    ip: "66.249.93.118"
                    url: "https://url.domain.com/fbe5387ec717e333628380454f68670010b205ff/1/go?uid={EMAIL}&utm_source=sendinblue&utm_campaign=test_camp&utm_medium=email"
          schema:
            $ref: "#/definitions/getExtendedContactDetails"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Contact's email not found"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Contacts"
      summary: "Updates a contact"
      operationId: "updateContact"
      parameters:
      - name: "email"
        in: "path"
        description: "Email (urlencoded) of the contact"
        required: true
        type: "string"
      - in: "body"
        name: "updateContact"
        description: "Values to update a contact"
        required: true
        schema:
          $ref: "#/definitions/updateContact"
      responses:
        "204":
          description: "Contact updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Contact's email not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Contacts"
      summary: "Deletes a contact"
      operationId: "deleteContact"
      parameters:
      - name: "email"
        in: "path"
        description: "Email (urlencoded) of the contact"
        required: true
        type: "string"
      responses:
        "204":
          description: "Contact deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Contact not found"
          schema:
            $ref: "#/definitions/errorModel"
        "405":
          description: "You're not allowed to delete registered email contact with\
            \ SendinBlue"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/{email}/campaignStats:
    get:
      tags:
      - "Contacts"
      summary: "Get the campaigns statistics for a contact"
      operationId: "getContactStats"
      parameters:
      - name: "email"
        in: "path"
        description: "Email address (urlencoded) of the contact"
        required: true
        type: "string"
      responses:
        "200":
          description: "Contact campaign statistics informations"
          examples:
            application/json:
              messagesSent:
              - campaignId: 21
                eventTime: "2016-05-03T20:15:13Z"
              - campaignId: 42
                eventTime: "2016-10-17T10:30:01Z"
              - campaignId: 45
                eventTime: "2016-11-09T11:45:02Z"
              opened:
              - campaignId: 21
                count: 2
                eventTime: "2016-05-03T21:24:56Z"
                ip: "66.249.93.118"
              - campaignId: 45
                count: 1
                eventTime: "2017-01-30T13:56:40Z"
                ip: "66.249.93.217"
              clicked:
              - campaignId: 21
                links:
                - count: 2
                  eventTime: "2016-05-03T21:25:01Z"
                  ip: "66.249.93.118"
                  url: "https://url.domain.com/fbe5387ec717e333628380454f68670010b205ff/1/go?uid={EMAIL}&utm_source=sendinblue&utm_campaign=test_camp&utm_medium=email"
          schema:
            $ref: "#/definitions/getContactCampaignStats"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Contact's email not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/attributes:
    get:
      tags:
      - "Contacts"
      - "Attributes"
      summary: "Lists all attributes"
      operationId: "getAttributes"
      parameters: []
      responses:
        "200":
          description: "Attributes listed"
          examples:
            application/json:
              attributes:
              - name: "LASTNAME"
                category: "normal"
                type: "text"
              - name: "FIRSTNAME"
                category: "normal"
                type: "text"
              - name: "DOB"
                category: "normal"
                type: "date"
              - name: "GENDER"
                category: "category"
                type: "text"
                enumeration:
                - value: 1
                  label: "Men"
                - value: 2
                  label: "Women"
                - value: 3
                  label: "Kid"
          schema:
            $ref: "#/definitions/getAttributes"
  /contacts/attributes/{attributeCategory}/{attributeName}:
    post:
      tags:
      - "Contacts"
      - "Attributes"
      summary: "Creates contact attribute"
      operationId: "createAttribute"
      parameters:
      - name: "attributeCategory"
        in: "path"
        description: "Category of the attribute"
        required: true
        type: "string"
        enum:
        - "normal"
        - "transactional"
        - "category"
        - "calculated"
        - "global"
      - name: "attributeName"
        in: "path"
        description: "Name of the attribute"
        required: true
        type: "string"
      - in: "body"
        name: "createAttribute"
        description: "Values to create an attribute"
        required: true
        schema:
          $ref: "#/definitions/createAttribute"
      responses:
        "201":
          description: "Attribute created"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Contacts"
      - "Attributes"
      summary: "Updates contact attribute"
      operationId: "updateAttribute"
      parameters:
      - name: "attributeCategory"
        in: "path"
        description: "Category of the attribute"
        required: true
        type: "string"
        enum:
        - "category"
        - "calculated"
        - "global"
      - name: "attributeName"
        in: "path"
        description: "Name of the existing attribute"
        required: true
        type: "string"
      - in: "body"
        name: "updateAttribute"
        description: "Values to update an attribute"
        required: true
        schema:
          $ref: "#/definitions/updateAttribute"
      responses:
        "204":
          description: "Attribute updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Attribute not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Contacts"
      - "Attributes"
      summary: "Deletes an attribute"
      operationId: "deleteAttribute"
      parameters:
      - name: "attributeCategory"
        in: "path"
        description: "Category of the attribute"
        required: true
        type: "string"
        enum:
        - "normal"
        - "transactional"
        - "category"
        - "calculated"
        - "global"
      - name: "attributeName"
        in: "path"
        description: "Name of the existing attribute"
        required: true
        type: "string"
      responses:
        "204":
          description: "Attribute deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Attribute not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/folders:
    get:
      tags:
      - "Contacts"
      - "Folders"
      summary: "Get all the folders"
      operationId: "getFolders"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number of documents per page"
        required: true
        type: "integer"
        default: 10
        maximum: 50
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document of the page"
        required: true
        type: "integer"
        default: 0
        format: "int64"
      responses:
        "200":
          description: "Folders informations"
          examples:
            application/json:
              folders:
              - id: 42
                name: "Ninja_Form"
                totalBlacklisted: 98
                totalSubscribers: 4567
                uniqueSubscribers: 4665
              - id: 29
                name: "Prestashop"
                totalBlacklisted: 10
                totalSubscribers: 6543
                uniqueSubscribers: 6553
              count: 2
          schema:
            $ref: "#/definitions/getFolders"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Contacts"
      - "Folders"
      summary: "Create a folder"
      operationId: "createFolder"
      parameters:
      - in: "body"
        name: "createFolder"
        description: "Name of the folder"
        required: true
        schema:
          $ref: "#/definitions/createUpdateFolder"
      responses:
        "201":
          description: "Folder created"
          schema:
            $ref: "#/definitions/createModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/folders/{folderId}:
    get:
      tags:
      - "Contacts"
      - "Folders"
      summary: "Returns folder details"
      operationId: "getFolder"
      parameters:
      - name: "folderId"
        in: "path"
        description: "id of the folder"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Folder details"
          examples:
            application/json:
              id: 1
              name: "Client_Folder"
              totalBlacklisted: 987
              totalSubscribers: 16778
              uniqueSubscribers: 17765
          schema:
            $ref: "#/definitions/getFolder"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Folder ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Contacts"
      - "Folders"
      summary: "Update a contact folder"
      operationId: "updateFolder"
      parameters:
      - name: "folderId"
        in: "path"
        description: "Id of the folder"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "updateFolder"
        description: "Name of the folder"
        required: true
        schema:
          $ref: "#/definitions/createUpdateFolder"
      responses:
        "204":
          description: "Folder updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Folder ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Contacts"
      - "Folders"
      summary: "Delete a folder (and all its lists)"
      operationId: "deleteFolder"
      parameters:
      - name: "folderId"
        in: "path"
        description: "Id of the folder"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "204":
          description: "Folder deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Folder ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/folders/{folderId}/lists:
    get:
      tags:
      - "Contacts"
      - "Folders"
      - "Lists"
      summary: "Get the lists in a folder"
      operationId: "getFolderLists"
      parameters:
      - name: "folderId"
        in: "path"
        description: "Id of the folder"
        required: true
        type: "integer"
        format: "int64"
      - name: "limit"
        in: "query"
        description: "Number of documents per page"
        required: false
        type: "integer"
        default: 10
        maximum: 50
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document of the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
      responses:
        "200":
          description: "Folder's Lists details"
          examples:
            application/json:
              lists:
              - id: 46
                name: "Reactiv"
                totalSubscribers: 7655
                totalBlacklisted: 0
              - id: 41
                name: "NY_Area"
                totalSubscribers: 3654
                totalBlacklisted: 23
              - id: 22
                name: "VIP_Customer"
                totalSubscribers: 8753
                totalBlacklisted: 72
              count: 3
          schema:
            $ref: "#/definitions/getFolderLists"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Folder ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/lists:
    get:
      tags:
      - "Contacts"
      - "Lists"
      summary: "Get all the lists"
      operationId: "getLists"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number of documents per page"
        required: false
        type: "integer"
        default: 10
        maximum: 50
        format: "int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document of the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
      responses:
        "200":
          description: "Lists informations"
          examples:
            application/json:
              lists:
              - id: 53
                name: "Spanish_Speakers"
                totalSubscribers: 5432
                totalBlacklisted: 65
                folderId: 1
              - id: 50
                name: "Other"
                totalSubscribers: 10976
                totalBlacklisted: 765
                folderId: 2
              count: 2
          schema:
            $ref: "#/definitions/getLists"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Contacts"
      - "Lists"
      summary: "Create a list"
      operationId: "createList"
      parameters:
      - in: "body"
        name: "createList"
        description: "Values to create a list"
        required: true
        schema:
          $ref: "#/definitions/createList"
      responses:
        "201":
          description: "List created"
          schema:
            $ref: "#/definitions/createModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/lists/{listId}:
    get:
      tags:
      - "Contacts"
      - "Lists"
      summary: "Get the details of a list"
      operationId: "getList"
      parameters:
      - name: "listId"
        in: "path"
        description: "Id of the list"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "List informations"
          examples:
            application/json:
              id: 12
              name: "Newsletter_Weekly"
              totalSubscribers: 6533
              totalBlacklisted: 63
              folderId: 1
              createdAt: "2016-02-26T11:56:08Z"
              campaignStats:
              - campaignId: 15
                stats:
                  uniqueClicks: 701
                  clickers: 789
                  complaints: 0
                  delivered: 6632
                  sent: 6645
                  softBounces: 34
                  hardBounces: 4
                  uniqueViews: 3442
                  unsubscriptions: 4
                  viewed: 4322
                  deferred: 0
              - campaignId: 45
                stats:
                  uniqueClicks: 654
                  clickers: 788
                  complaints: 1
                  delivered: 4078
                  sent: 4334
                  softBounces: 18
                  hardBounces: 2
[...]
